@font-face {
    font-family: fontoddzFont;
    src: url(../fonts/comic-sans.woff);
}

.day-care-wrapper{
	background: url(../img/home/home-special.png);
	padding: 0;
	.day-care-title{
		font-size: 24px;
	    font-family: fontoddzFont, cursive, sans-serif;
	    line-height: 2;
	    margin-top: 1em;
	    border-bottom: 1px solid #cfd8dc;
	    color: #37474f;
	    text-align: center;
	}
	.day-care-content{
		background-image: url(../img/programs/sky.png);
		padding: 2em;
		height: auto;
	    background-size: cover;
	    overflow: hidden;
	    .day-care-description{
	    	p{
				text-align: justify;
			    color: #fff;
			    font-family: fontoddzFont, cursive, 'Open Sans', 'open_sansregular', sans-serif;
			    line-height: 2;
			}
	    }
	    .day-care-gallery{
	    	.day-care-gallery-title{
	    		font-size: 20px;
			    font-family: fontoddzFont, cursive, sans-serif;
			    line-height: 2;
			    margin-top: 1em;
			    color: #fff;
			    text-align: left;
			    font-weight: 400;
	    	}
	    	.day-care-gallery-files{
	    		.thumbnail{
	    			border-radius: 3em;
    				width: 86%;
    				img{
    					border-radius: 3em;
    				}
	    		}
	    		.thumbnail:hover{
	    			cursor: pointer;
	    			z-index: 1;
	    			position: absolute;
	    			animation-name: day-care-gallery-hover;
	    			animation-duration: 4s;
	    			animation-timing-function: ease;
	                animation-iteration-count: 1;
	                @keyframes day-care-gallery-hover{
	                	from {width: 86%}
	                	to{width: 92%}
	                }
	    		}
	    	}
	    }
		/* .day-care-content-1{
			width: 100%;
			border-radius: 1em;
    		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.day-care-content-2{
			p{
				text-align: center;
			    color: #fff;
			    font-family: 'Architects Daughter', cursive, 'Open Sans', 'open_sansregular', sans-serif;
			    line-height: 2;
			}
		}
		.day-care-content-3{
			width: 100%;
			border-radius: 1em;
    		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		} */
	}
}