body{
	background-color: #F3E5F5 !important;
}

.app-header{
	padding: 0 !important;
	.app-nav-bar{
		min-height: 74px !important;
		background-color: #9C27B0;
		border-color: #9C27B0;
		margin: 0;
	}

	.navbar-brand{
		height: 66px !important;
		img{
			height: 2.5em;
		}
	}
	.app-menu-wrapper{
		padding-left: 5em;
		/* li:hover{
			background-color: #CE93D8;
		} */
		li>a{
		   padding-top: 26px !important;
		}
		li>a>a{
			font-size: 18px;
		}
		li>a>a[aria-current="false"]{
			text-decoration: none;
			color: #9d9d9d;
			font-size: 18px;
			font-family: "Comic Sans MS", cursive, sans-serif;
		}
		li>a>a[aria-current='true']{
			color: #fff !important;
	    	text-decoration: none;
	    	font-size: 18px;
    		background-color: #9C27B0;
    		font-family: "Comic Sans MS", cursive, sans-serif;
		}
		li>a>a:hover{
			/* border-bottom: 1px solid #fff; */
			font-weight: 600;
    		font-family: "Comic Sans MS", cursive, sans-serif;
			color: #fff !important;
			vertical-align: text-top;
		}
		/* li>a>a[aria-current='true']:hover, li>a>a[aria-current="false"]:hover {
			background-color: #CE93D8;
		} */
	}
}